.container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  margin-bottom: 10px;
  letter-spacing: 0.3px;
  color: #4a4a4a;
}

.item {
  margin-bottom: 7px;
}

.item:last-child {
  margin-bottom: 0;
}

.key {
  font-size: 14px;
  margin-right: 8px;
  letter-spacing: 0.3px;
  color: #9b9b9b;
}

.value {
  font-size: 15px;
  letter-spacing: 0.3px;
}

.pending {
  color: #f0a62e;
}

.success {
  color: rgba(87, 148, 20, 0.9);
}

.failed {
  color: #f3495e;
}

.valueLink {
  color: #2A88FF;
  text-decoration: none;
}

.valueLink:hover {
  text-decoration: underline;
}

.clear {
  border: 0;
  background: transparent;
  color: #2A88FF;
  align-self: flex-start;
  margin-bottom: 10px;
  cursor: pointer;
}

.clear:hover {
  text-decoration: underline;
}