.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.02);
  padding: 40px 70px;
  height: 100%;
}

.title {
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  color: rgba(80, 80, 80, 0.9);
  margin-bottom: 40px;
  text-align: center;
}

.text {
  font-size: 17px;
  line-height: 1.41;
  color: #47443e;
  text-indent: 25px;
  margin-bottom: 10px;
}

.error {
  margin-top: 10px;
  font-size: 15px;
  color: #f3495e;
}