.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #47443e;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.back {
  border: 0;
  background: transparent;
  color: #2A88FF;
  margin-right: 20px;
  cursor: pointer;
  font-size: 28px;
}

.sm {
  padding: 30px 35px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.02);
}

.smItem {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.smItem:last-child {
  margin-bottom: 0;
}

.key {
  flex-shrink: 0;
  margin-right: 10px;
  color: rgba(80, 80, 80, 0.9);
}

.value {
  color: rgba(80, 80, 80, 0.9);
  font-size: 17px;
}

.link {
  color: #2086D9;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.transactions {
  padding: 30px 35px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.02);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  min-height: 360px;
}

.table {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
}

.theadTd {
  border-bottom: solid 1px rgba(151, 151, 151, 0.7);
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 0.5px;
  color: rgba(80, 80, 80, 0.9);
  font-size: 15px;
}

.theadTd:first-child {
  text-align: left;
}

.theadTd:last-child {
  text-align: right;
}

.tbody tr:first-child td {
  padding-top: 15px;
}

.tbody tr:last-child td {
  padding-bottom: 0;
  border-bottom: 0;
}

.td {
  padding: 10px 7px;
  text-align: center;
  border-bottom: solid 1px rgba(151, 151, 151, 0.3);
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tdHash a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95px;
  display: inline-block;
}

@media (min-width: 1440px) {
  .tdHash a {
    max-width: 180px;
  }
}

@media (min-width: 1600px) {
  .tdHash a {
    max-width: 300px;
  }
}

@media (min-width: 1800px) {
  .tdHash a {
    max-width: 480px;
  }
}

@media (min-width: 1920px) {
  .tdHash a {
    max-width: 600px;
  }
}

.td:first-child {
  padding-left: 0;
  text-align: left;
}

.td:last-child {
  padding-right: 0;
  text-align: right;
}

.value_positive {
  color: rgba(87, 148, 20, 0.9);
}

.value_warning {
  color: #F0A62E;
}

.value_negative {
  color: #F3495E;
}