.container {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.02);
  height: 100%;
  margin-top: 30px;
  flex: 1;
  padding: 30px 35px;
}

.title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #47443e;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width:  600px;
}

.price {
  display: flex;
  align-items: center;
}

.priceText {
  margin-right: 15px;
  font-size: 17px;
  letter-spacing: 0.3px;
  color: #47443e;
}

.error {
  margin-top: 10px;
  color: #F3495E;
}

.aside {
  margin-left: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.extension {
  color: #4a4a4a; 
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 18px;
  line-height: 1.3;
}

.extensionLink {
  font-size: 16px;
  margin-left: 4px;
  margin-right: 4px;
  color: #4b89fb;
}

.main {
  display: flex;
}

.qr {
  width: 210px !important;
  height: 210px !important;
}