.container {
  display: inline-flex;
  width: 12px;
  text-align: right;
  font-size: 18px;
  margin-left: 3px;
  opacity: 0;
  transition: 150ms ease;
}

.container_isVisible {
  opacity: 1;
}

.up {
  color: rgb(64, 235, 64);
}

.down {
  color: rgb(247, 97, 97);
}