.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 5px;
  background-color: #4b89fb;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  width: 100%;
  margin-top: 25px;
  transition: .3s ease;
}

.container:disabled {
  opacity: 0.7;
}