.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.header {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.walletIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2086d9;
  background-image: url('../../resources/wallet.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  margin-right: 15px;
}

.wallet {
  font-size: 18px;
  letter-spacing: 0.3px;
  color: #47443e;
}

.exit {
  margin-left: auto;
  width: 25px;
  height: 28px;
  border: 0;
  background: none;
  color: rgba(80, 80, 80, 0.9);
  cursor: pointer;
}

.exit svg {
  fill: currentColor;
}