.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(77,77,77,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 280px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.02);
  width: 860px;
  padding: 40px 60px 50px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  color: #47443e;
  margin-bottom: 15px;
}
