.container {
  margin-top: 12px;
  padding-bottom: 10px;
  width: calc(100% - 10px);
  margin: 12px auto 0;
}

.marks {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.mark {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  font-weight: 500;
  padding: 2px 0;
}

.mark:first-child {
  transform: translateX(-3px);
}

.mark:nth-child(2) {
  transform: translateX(12px);
}

.mark:nth-child(3) {
  transform: translateX(15px);
}

.mark:nth-child(4) {
  transform: translateX(19px);
}

.mark:nth-child(5) {
  transform: translateX(3px);
}