.container {
  height: 100%;
  width: 295px;
  background-color: #ffffff;
  border-right: solid 1px #cccccc;
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.logo {
  background: url('../../resources/logo.png') no-repeat 0 0;
  background-size: contain;
  width: 189px;
  height: 56px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.link {
  height: 60px;
  padding-left: 20px;
  color: rgba(80, 80, 80, 0.9);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: .3s ease;
  border-left: 2px solid transparent;
}

.linkIconWrapper {
  width: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
}

.linkIcon {
  fill: currentColor;
  transform: scale(0.9);
}

.linkText {
  margin-left: 27px;
  font-size: 17px;
}

.linkActive {
  background-color: rgba(75, 137, 251, 0.11);
  color: #4b89fb;
  border-color: #4b89fb;
}

.linkActive .linkIconWrapper {
  color: #2086d9;
}

.exchange {
  margin-top: auto;
  padding: 0 25px;
}

.title {
  font-size: 15px;
  letter-spacing: 0.3px;
  color: rgba(155, 155, 155, 0.95);
  margin-bottom: 18px;
}

.exchangeItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exchangeItem:last-child {
  margin-bottom: 0;
}

.currency {
  font-size: 18px;
  color: #47443e;
}

.currencyPrice {
  text-align: right;
  font-size: 19px;
  letter-spacing: 0.3px;
  color: #47443e;
}

.currencyPriceSign {
  font-size: 18px;
  letter-spacing: 0;
}

.currencySource {
  text-align: right;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: rgba(71, 68, 62, 0.6);
  margin-top: 3px;
}