.container {
  height: 42px;
  border-radius: 5px;
  border: solid 1px #979797;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-top: 25px;
  transition: .3s ease;
}

.container_file {
  cursor: pointer
}

.container:hover {
  border-color: #727272;
}

.container_isFocused, .container_isFocused:hover {
  border-color: #4b89fb;
}

.container_isError, .container_isError:hover {
  border-color: #F3495E;
}

.label {
  margin-right: 10px;
  opacity: 0.7;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: rgba(80, 80, 80, 0.87);
  flex-shrink: 0;
}

.input {
  font-size: 18px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #47443e;
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
}

.input_file {
  visibility: hidden;
}