.container {
  display: flex;
}

.item {
  width: 100%;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.02);
  margin-right: 30px;
  background: white;
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 109px;
}

.item:last-child {
  margin-right: 0;
}

.token {
  display: flex;
  align-items: center;
}

.gold {
  background: url('../../resources/GOLD.png') no-repeat 0 0;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.nas {
  background: url('../../resources/NAS.png') no-repeat 0 0;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.name {
  margin-left: 14px;
  font-size: 22px;
  letter-spacing: 0.3px;
  color: #47443e;
}

.sum {
  text-align: right;
}

.amount {
  font-size: 21px;
  
  letter-spacing: 0.3px;
  color: #47443e;
  margin-bottom: 4px;
}

.amountAlt {
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #9b9b9b;
  margin-bottom: 3px;
}

.amountAlt:last-child {
  margin-bottom: 0;
}

.spinner {
  margin-left: auto;
  margin-right: 15px;
}